@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.all{
    background-color: black;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
.h1{
    color:white;
    text-align: center;
}
.nama, .content{
    color:white;
}
.body-content{
    margin-top:-10%;
}
.btn-post{
    width: 68%;
}
.post {
    border: 1px solid black;
    width: 50%;
    margin: auto;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.btn-remove {
    padding: 20px;
    background-color: white;
    border: 1px solid red;
    transition: 200ms ease;
}

.btn-remove:hover {
    color: white;
    background-color: red;
    cursor: pointer;
}

.btn-update {
    padding: 20px;
    background-color: white;
    border: 1px solid cyan;
    transition: 200ms ease;
}

.btn-update:hover {
    background-color: cyan;
    cursor: pointer;
}

.btn-remove, 
.btn-update {
    margin-left: 10px;
}
.post{
    display: inline-block;
    margin:0;
    width: 100;
    border : 1px solid white;
    padding: 75px 25px;
}
.img{
    text-align: center;
    width: 30%;
    object-fit: cover;
}